---
layout: default-core
include_facebook_sdk: true
baseurl: ./
homepage: true
title: Home
outline_title: Kankakee Workforce Services
description:
wioa_locations:
  - name: Kankakee Workforce Services
    address: KCC North Extension Center<br>450 N Kinzie Ave<br>Bradley, IL 60915
    phone: 815-802-8960
    fax: 815-935-9610
    email: workforceservices@kcc.edu
    hours: 'Monday&nbsp;-&nbsp;Friday: 8&nbsp;a.m. - 4&nbsp;p.m.'
    website: https://www.kcc.edu/workforceservices/
    directions: >-
      https://www.google.com/maps/dir/?api=1&destination=Kankakee+Community+College+North+Campus&destination_place_id=ChIJST5oqnznDYgR7Uv0CtHiLt8
slides:
  - image: /assets/img/kankakee-workforce-services-logo.svg
    alt-text: >-
      Kankakee Workforce Services, An Illinois workNet® Center, a proud partner
      of the AmericanJobCenter® network
    url: '#'
    new_tab: false
    white_background: true
  - image: /uploads/wioa-fb-22.jpg
    alt-text: >-
      Your ideal job is out there - We'll help you prepare for a career that is
      in-demand
    url: '#'
    new_tab: false
  - image: /uploads/wioa-young-adult-program-fb-22.jpg
    alt-text: >-
      WIOA Youth Program - offers help to prepare for your future - Young Adults
      17-24
    url: '#'
    new_tab: false
---
<!-- FTP test -->
<main>
  <div class="container background__color--tan">
    {% include hero-slider.html %}
    <div class="row">
      <div class="col text-center">
        <h2 class="typography__call-to-action editable">Services</h2>
      </div>
    </div>
    <div class="row">
      <!-- Column 1 of Services -->
      <div class="col-md-4 text-center action-cards__col--margin-btm">
        <div class="action-cards__svg--wrapper">
          <a href="{{ page.baseurl }}workshops-and-events/" aria-label="Workshops & Events">
            <img
              role="image"
              src="{{ page.baseurl }}assets/img/events-icon.svg"
              class="img-fluid w-40 mb-3"
              alt="calendar icon"
            >
          </a>
        </div>
        <a class="links__no-underline" href="{{ page.baseurl }}workshops-and-events/">
          <h4 class="typography__orange-h4 typography__sm-sup">Workshops & Events</h4>
        </a>
        <div class="row action-cards__text-wrapper">
          <div class="col d-flex align-items-center position__col--min-height">
            <h5 class="typography__h5--description editable">
              Kankakee Workforce Services offers a variety of resources and workshops.
              Check our calendar for upcoming events.
            </h5>
          </div>
        </div>
        <a href="{{ page.baseurl }}workshops-and-events/" class="btn btn-primary">
          View Calendar
        </a>
      </div>
      <!-- Column 2 of Services -->
      <div class="col-md-4 text-center margins__col--btm">
        <div class="impact__give">
          <div class="action-cards__svg--wrapper">
            <a
              href="{{ page.baseurl }}wioa-scholarship/"
              aria-label="WIOA Scholarship"
            >
              <img
                role="image"
                src="{{ page.baseurl }}assets/img/survey-icon.svg"
                height="140" width="140"
                class="img-fluid w-40 mb-3"
                alt="clipboard with a checklist icon"
              >
            </a>
          </div>
          <a href="{{ page.baseurl }}wioa-scholarship/" class="links__no-underline">
            <h4 class="typography__orange-h4">WIOA Scholarship</h4>
          </a>
          <div class="row action-cards__text-wrapper">
            <div class="col d-flex align-items-center position__col--min-height">
              <h5 class="typography__h5--description editable">
                You may be eligible for up to $12,000 in career training. 
                Get started here so WIOA can offer you the most appropriate services.
              </h5>
            </div>
          </div>
            <a href="{{ page.baseurl }}wioa-scholarship/" class="btn btn-primary">
              Get Started
            </a>
        </div>
      </div>
      <!-- Column 3 of Services -->
      <div class="col-md-4 text-center action-cards__col--margin-btm">
        <div class="action-cards__svg--wrapper">
          <a
            href="{{ page.baseurl }}job-board/"
            aria-label="Job Board"
          >
            <img
              role="image"
              src="{{ page.baseurl }}assets/img/icon_job-board.svg"
              class="img-fluid w-40 mb-3"
              alt="clipboard with a checklist icon">
          </a>
        </div>
        <a href="{{ page.baseurl }}job-board/" class="links__no-underline">
          <h4 class="typography__orange-h4">Job Board</h4>
        </a>
        <div class="row action-cards__text-wrapper">
          <div class="col d-flex justify-content-center align-items-center position__col--min-height">
            <h5 class="typography__h5--description text-center">
              Local and regional job openings.
            </h5>
          </div>
        </div>
        <a href="{{ page.baseurl }}job-board/" class="btn btn-primary">
          Learn More
        </a>
      </div>
      <!-- End of Services columns -->
    </div>
  </div>
</main>

<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col margins__col--top home__col--heading-underline">
            <h3 class="typography__section--heading margins__heading--btm">Location & Hours</h3>
          </div>
        </div>
        <div class="row">
          {% for location in page.wioa_locations %}
          <div class="col mb-3">
            <h5 class="typography__contacts--name notranslate">{{ location.name }}</h5>
            <p class="notranslate">
              {{ location.address }}<br />
              <strong>Phone:&nbsp;</strong><a href="tel:1{{ location.phone | remove: '-' }}" class="links__darker-link">{{ location.phone }}</a><br />
              {% if location.fax %}<strong>Fax:</strong>&nbsp;<a href="tel:1{{ location.fax | remove: '-' }}" class="links__darker-link">{{ location.fax }}</a><br />{% endif %}
              {% if location.email %}<strong>Email:</strong>&nbsp;<a class="links__darker-link" target="_blank" href="mailto:{{ location.email }}">{{ location.email }}</a><br />{% endif %}
              {% if location.hours %}<strong>Resource Room hours:</strong>&nbsp;{{ location.hours }}{% endif %}
              {% if location.website %}
              <br><strong>Website:</strong> <a href="{{ location.website }}" target="_blank" rel="noopener noreferrer" class="links--wrap">{{ location.website | remove: 'https://' }}</a>
              {% endif %}
              {% if location.directions %}
              <br /><a href="{{ location.directions }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Get Directions</a>
              {% endif %}
            </p>
          </div>
          {% endfor %}
        </div>
    </div>
    <div class="col-lg-4 my-auto text-center">
        {% include facebook-widget.html %}
      </div>
  </div>
</section>
{% include footer-disclaimer.html %}
