---
layout: default
baseurl:
homepage: true
title: Workforce Services
outline_title: Kankakee Workforce Services
description:
wioa_locations:
  - name: Kankakee Workforce Services
    address: 'KCC North Extension Center<br>450 N Kinzie Ave<br>Bradley, IL 60915'
    phone: 815-802-8963
    TTY: 800-526-0844
    fax: 815-935-9610
    email: wiaoffice@kcc.edu
    hours: 'Monday&nbsp;-&nbsp;Friday: 8 a.m. - 5 p.m.'
  - name: Grundy Workforce Services
    address: '1715 N. Division St.<br>Morris, IL 60450'
    phone: 815-942-0566
    fax: 815-942-1547
    email: grundyworkforce@jjc.edu
    hours: >-
      Monday&nbsp;-&nbsp;Friday: 8&nbsp;a.m.&nbsp;-&nbsp;4:30&nbsp;p.m.
      Thursday:&nbsp;8&nbsp;a.m.&nbsp;-&nbsp;7:30&nbsp;p.m.
  - name: Livingston Workforce Services
    address: '211 East Madison Street Room 222<br>Pontiac, IL 61764'
    phone: 309-268-8280
    fax: 815-842-1379
    website: 'http://www.livingstonworkforceservices.weebly.com/'
    contact_person: Allyson SaxtonCoordinatorasaxton@kcc.edu
    hours: 'Monday&nbsp;-&nbsp;Friday: 8&nbsp;a.m.&nbsp;-&nbsp;5&nbsp;p.m.'
  - name: Grundy Livingston Kankakee Workforce Board
    address: '200 E. Court St., Suite 506<br>Kankakee, IL 60901'
    phone: 815-935-0074
    fax: 815-936-3766
    email: info@glkwb.com
slides:
  - image: uploads/wioa_up-to-10000.svg
    alt-text: >-
      You could be eligible for up to $10,000 for career training to help with
      things like transportation, books, & supplies.
    url: /service-eligibility-questionnaire/
    text:
    white_background: true
  - image: /uploads/wioa-covid-banner-optimized.jpg
    alt-text:
    url:
    text:
    white_background: true
student_testimonials:
card_section: Services
cards:
  - name: Workshops&nbsp;&&nbsp;Events
    description: >-
      Kankakee Workforce Services offers a variety of resources and workshops.
      Check our calendar for upcoming events.
    button_text: View Calendar
    link: workshops-and-events
    thumb: uploads/event_available_outline-24px.svg
    thumb_alt_text: Workshops and events thumbnail
  - name: Eligibility Survey
    description: >-
      Complete our questionnaire so WIOA can offer the most appropriate services
      for your needs.
    button_text: Get Started
    link: service-eligibility-questionnaire
    thumb: uploads/survey-24px.svg
    thumb_alt_text:
  - name: Career Training
    description: >-
      Are you underemployed or unemployed? Have you exhausted your unemployment
      benefits? You could be eligible for up to $10,000 in career training.
    button_text: Learn More
    link: career-training
    thumb: uploads/certificate-24.svg
    thumb_alt_text:
---

<!-- Build -->
<main>
  <div class="container background__color--tan">
    {% include hero-slider.html %}
    <div class="row">
      <div class="col text-center">
        <h2 class="typography__call-to-action editable">Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center action-cards__col--margin-btm">
        <div class="action-cards__svg--wrapper">
          <a href="{{ page.baseurl }}workshops-and-events" aria-label="link to Workshops and Events page">
            <img src="{{ page.baseurl }}uploads/events-icon.svg" class="img-fluid w-40 mb-3" alt="calendar icon" />
          </a>
        </div>
        <a class="links__no-underline" href="{{ page.baseurl }}workshops-and-events"><h4 class="typography__orange-h4 typography__sm-sup">Workshops & Events</h4></a>
        <div class="row action-cards__text-wrapper">
          <div class="col d-flex align-items-center position__col--min-height">
            <h5 class="typography__h5--description editable">
              Kankakee Workforce Services offers a variety of resources and workshops. Check our calendar for upcoming events.
            </h5>
          </div>
        </div>
        <a href="{{ page.baseurl }}workshops-and-events" class="btn btn-primary">View Calendar</a>
      </div>
      <div class="col-md-4 text-center margins__col--btm">
        <div class="impact__give">
          <div class="action-cards__svg--wrapper">
            <a href="{{ page.baseurl }}service-eligibility-questionnaire" aria-label="link to Eligibility Questionnaire page">
              <img src="{{ page.baseurl }}uploads/survey-icon.svg" class="img-fluid w-40 mb-3" alt="clipboard with a checklist icon" />
            </a>
          </div>
          <a href="{{ page.baseurl }}service-eligibility-questionnaire" class="links__no-underline">
            <h4 class="typography__orange-h4">Eligibility Survey</h4>
          </a>
          <div class="row action-cards__text-wrapper">
            <div class="col d-flex align-items-center position__col--min-height">
              <h5 class="typography__h5--description editable">
                Complete our questionnaire so WIOA can offer the most appropriate services for your needs.
              </h5>
            </div>
          </div>
            <a href="{{ page.baseurl }}service-eligibility-questionnaire" class="btn btn-primary">Get Started</a>
        </div>
      </div>
      <div class="col-md-4 text-center action-cards__col--margin-btm">
        <div class="action-cards__svg--wrapper">
          <a href="{{ page.baseurl }}career-training" aria-label="link to community literacy page">
            <img src="{{ page.baseurl }}uploads/training-icon.svg" class="img-fluid w-40 mb-3" alt="clipboard with a checklist icon" />
          </a>
        </div>
        <a href="{{ page.baseurl }}career-training" class="links__no-underline"><h4 class="typography__orange-h4">Career Training</h4></a>
        <div class="row action-cards__text-wrapper">
          <div class="col d-flex align-items-center position__col--min-height">
            <h5 class="typography__h5--description editable">
              Are you underemployed or unemployed? Have you exhausted your unemployment
              benefits? You could be eligible for up to $10,000 in career training.
            </h5>
          </div>
        </div>
        <a href="{{ page.baseurl }}career-training" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</main>
{% include testimonials.html %}
<section>
  <div class="container">
    <div class="row">
      <div class="col margins__col--top home__col--heading-underline">
        <h3 class="typography__section--heading margins__heading--btm">Locations & Hours</h3>
      </div>
    </div>
    <div class="row">
      {% for location in page.wioa_locations %}
      <div class="col-sm-6 col-lg-4 mb-3">
        <h5 class="typography__contacts--name notranslate">{{ location.name }}</h5>
        <p class="notranslate">
          {{ location.address }}<br />
          <strong>Phone:&nbsp;</strong><a href="tel:1{{ location.phone | remove: '-' }}" class="links__darker-link">{{ location.phone }}</a><br />
          {% if location.fax %}<strong>Fax:</strong>&nbsp;<a href="tel:1{{ location.fax | remove: '-' }}" class="links__darker-link">{{ location.fax }}</a><br />{% endif %}
          {% if location.email %}<a class="links__darker-link" target="_blank" href="mailto:{{ location.email }}">{{ location.email }}</a><br />{% endif %}
          {% if location.hours %}<strong>Hours:</strong>&nbsp;{{ location.hours }}{% endif %}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include contacts-tan.html %}
<section>
  <div class="container mt-3">
    <div class="row">
      <div class="col text-center">
        <img src="{{ page.baseurl }}assets/img/kcc-placeholder.png" data-src="{{ page.baseurl }}uploads/kankakee_workforce_services.png" class="img-fluid" alt="Kankakee Workforce Services - An Illinois workNet® Center. A proud partner of the AmericanJobCenter® network." />
        <p class="text-left">​All Programs are Equal Opportunity Employer Programs, and auxiliary aids and services are available upon request to individuals with disabilities.</p>
        <p class="text-left">Local Equal Opportunity Officer: Laura Siemsen, <a href="tel:+18159350074">815-935-0074</a>.</p>
      </div>
    </div>
  </div>
</section>
