---
layout: page
baseurl:
title: Workforce Services
outline_title: Kankakee Workforce Services
description:
wioa_locations:
  - name: Kankakee Workforce Services
    address: 'KCC North Extension Center<br>450 N Kinzie Ave<br>Bradley, IL 60915'
    phone: 815-802-8963
    TTY: 800-526-0844
    fax: 815-935-9610
    email: wiaoffice@kcc.edu
    hours: 'Monday through Friday: 8 a.m. - 5 p.m.'
  - name: Grundy Workforce Services
    address: '1715 N. Division St.<br>Morris, IL 60450'
    phone: 815-942-0566
    fax: 815-942-1547
    email: grundyworkforce@jjc.edu
    hours: 'Monday through Friday: 8 a.m. - 4:30 p.m.Thursday: 8 a.m. - 7:30 p.m.'
  - name: Livingston Workforce Services
    address: 'Livingston County Office<br>211 E. Madison St.<br>Pontiac, IL 61764'
    phone: 815-842-6535
    fax: 815-842-1379
    website: 'http://www.livingstonworkforceservices.weebly.com/'
    contact_person: Allyson SaxtonCoordinatorasaxton@kcc.edu
    hours: 'Monday through Friday: 8 a.m. - 5 p.m.'
  - name: Grundy Livingston Kankakee Workforce Board
    address: '187 S. Schuyler Ave., Suite 560<br>Kankakee, IL 60901'
    phone: 815-935-0074
    fax: 815-936-3766
    email: info@glkwb.com
slides:
  - image: uploads/wioa_up-to-10000.svg
    alt-text: >-
      You could be eligible for up to $10,000 for career training to help with
      things like transportation, books, & supplies.
    url: '#'
    text:
  - image: uploads/eligibility-placeholder_delete-me_post_launch.png
    alt-text: placeholder for eligibility survey!!!
    url: '#'
    text: Find out if You're Eligible
  - image: uploads/slider_man-and-woman.jpg
    alt-text: Career Training
    url: '#'
    text: Career Training
student_testimonials:
card_section: Services
cards:
  - name: Workshops & Events
    description: >-
      In ultricies, nunc et interdum lobortis, turpis odio dignissim leo, nec
      sagittis dui leo id turpis. Aliquam erat volutpat. Cras enim felis, auctor
      et ex at, bibendum molestie libero. Donec non velit mi.
    button_text: Learn More
    link: workshops-and-events
    thumb: assets/img/kcc-placeholder-square.png
    thumb_alt_text: Workshops and events thumbnail
  - name: Eligibility Survey
    description: >-
      Complete our questionnaire so WIOA can offer the most appropriate services for your needs.
    button_text: Get Started
    link: service-eligibility-questionnaire
    thumb: assets/img/kcc-placeholder-square.png
    thumb_alt_text:
  - name: Career Training
    description: >-
      Are you underemployed or unemployed? Have you exhausted your unemployment
      benefits? You could be eligible for up to $10,000 in career training.
    button_text: Learn More
    link: career-training
    thumb: assets/img/kcc-placeholder-square.png
    thumb_alt_text:
---

<main class="position__offset-fixed-nav">
  <div class="container">
    <div class="row">
      <div class="col hero-slider__slider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}"><img src="{{page.baseurl}}{{slide.image}}" class="img-fluid hero-slider__slider--slide-img" alt="{{slide.alt-text}}" /></a>
          <div class="hero-slider__slider--heading-container text-center">
            <h3 class="hero-slider__heading--bold">{{slide.text}}</h3>
          </div>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}"><img src="assets/img/kcc-placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid hero-slider__slider--slide-img" alt="{{slide.alt-text}}" /></a>
          <div class="hero-slider__slider--heading-container text-center">
            <h3 class="hero-slider__heading--bold">{{slide.text}}</h3>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</main>
{% include card-section.html %}
{% include testimonials.html %}
{% include contacts.html %}
<section>
  <div class="container">
    <div class="row">
      <div class="col margins__col--top home__col--heading-underline">
        <h3 class="typography__section--heading margins__heading--btm">Locations & Hours</h3>
      </div>
    </div>
    <div class="row">
      {% for location in page.wioa_locations %}
      <div class="col-sm-6 col-md-4 mb-3">
        <h5 class="typography__contacts--name notranslate">{{ location.name }}</h5>
        <p class="notranslate">
          {{ location.address }}<br>
          <strong>Phone:&nbsp;</strong><a href="tel:1{{ location.phone | remove: '-' }}" class="links__darker-link">{{ location.phone }}</a><br>
          {% if location.fax %}<strong>Fax:</strong>&nbsp;<a href="tel:1{{ location.fax | remove: '-' }}" class="links__darker-link">{{ location.fax }}</a><br>{% endif %}
          {% if location.email %}<a class="links__darker-link" target="_blank" href="mailto:{{ location.email }}">{{ location.email }}</a><br>{% endif %}
          {% if location.hours %}<strong>Hours:</strong>&nbsp;{{ location.hours }}{% endif %}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="container mt-3">
    <div class="row">
      <div class="col text-center">
        <img src="{{ page.baseurl }}assets/img/kcc-placeholder.png" data-src="{{ page.baseurl }}uploads/kankakee_workforce_services.png" class="img-fluid" alt="Kankakee Workforce Services - An Illinois workNet® Center. A proud partner of the AmericanJobCenter® network.">
      </div>
    </div>
  </div>
</section>
