---
layout: default
baseurl: ../
title: 'Training Grant Application'
description: ''
---

<main>
  <div class="container-fluid bg--blue mt-4 mb-5 pt-5 pb-3">
    <div class="container">
      <div class="row">
        <div class="col">
         <div class="row">
           <div class="col-md-8 offset-md-2 text-center">
             <h3 class="typography__call-to-action">WIOA Training Grant</h3>
            <p><strong>
              The WIOA grant is set up to aid qualifying individuals with assistance for education/training which leads to a high
              growth, in demand occupation.
            </strong><a id="iframeLink" href="#JotFormIFrame-62244641777966">Go to application</a>.</p>
           </div>
           <div class="col-md-4 text-center mb-5 action-cards__col--margin-btm action-cards__col--mortarboard">
            <div class="action-cards__svg--wrapper">
              {% include mortarboard.html %}
            </div>
            <h4 class="typography__orange-h4 typography__sm-sup">Tuition</h4>
          </div>
          <div class="col-md-4 text-center mb-5 action-cards__col--margin-btm action-cards__col--mortarboard">
            <div class="action-cards__svg--wrapper">
              {% include books.html %}
            </div>
            <h4 class="typography__orange-h4 typography__sm-sup">Books & Supplies</h4>
          </div>
          <div class="col-md-4 text-center mb-5 action-cards__col--margin-btm action-cards__col--mortarboard">
            <div class="action-cards__svg--wrapper">
              {% include svg/gas-pump-icon.html %}
            </div>
            <h4 class="typography__orange-h4 typography__sm-sup">Gas Reimbursement</h4>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="py-4">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h3 class="typography__h3">Explore High Growth/High Demand Occupations</h3>
        </div>
      </div>
      {% include job-grid-links-to-WIOA-app.html %}
    </section>
  </div>
  <div class="container-fluid bg--blue">
    <div class="container py-5">
      <section class="py-4">
        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2 text-center mb-5">
            <h3 class="typography__h3">Additional Information for WIOA Training Grant Applicants</h3>
          </div>
          {% include additional-training-grant-app-info-links.html %}
        </div>
      </section>
    </div>
  </div>
  <div class="container">
    <section class="mt-4">
      <div class="row">
        <div class="col text-center">
          {% include jotform-embed-training-grant-app.html %}
        </div>
      </div>
    </section>
  </div>
