---
layout: default-core
baseurl: ../
title: Workshops and Events
description: ''
---

{% include nav-workshops-and-events.html %}
<main id="openModalOnLocationHash">
  <div class="container" id="content">
    <div class="row">
      <div class="col sub-nav__content--wrapper mt-2">
        <div class="editable">
          {% comment %}
          <!--
          <h3 class="typography__h3">Childcare Resource Fair</h3>
          <p>
            Finding the right childcare is a huge piece of the puzzle when you’re balancing school, work, and family life. Our
            <strong>Childcare Resource Fair</strong> is designed to connect parents and guardians directly with local licensed providers and the
            essential support services needed to make quality care accessible. Whether you are looking for current openings, need
            assistance navigating childcare subsidy applications, or want to explore early childhood career and funding pathways at
            KCC, this event brings all the experts into one room. Join us to bridge the gap between your career goals and the
            support your family&nbsp;deserves.
          </p>
          <p>
            <strong>Date:</strong> Friday, March 27, 2026<br>
            <strong>Time:</strong> 10 a.m.-2 p.m.<br>
            <strong>Location:</strong> Kankakee Workforce Services, 450 N. Bradley Blvd, Bradley (across from Wendy's Restaurant)
          </p>
        </div>
        <p class="mb-0">
          <strong>Registration / Contact Information:</strong>
        </p>
        <p class="ms-5">
          <strong><em>Registration is optional but encouraged:</em></strong><br>
            Register below, call <a href="tel:+18158028960">(815) 802-8960</a> or email <a href="mailto:workforceservices@kcc.edu">workforceservices@kcc.edu</a>
        </p>
        <p class="mb-5">

          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#childcare-resource-fair">
            Childcare Resource Fair (optional registration form)
          </button>
        </p>

        <div class="modal fade" id="childcare-resource-fair" tabindex="-1" aria-labelledby="childcare-resource-fair-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="childcare-resource-fair-label">Register for Childcare Resource Fair</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  <a
                    href="https://form.jotform.com/260496511063959"
                    class="links__launch"
                    target="_blank"
                    rel="noopener"
                  >Open "Childcare Resource Fair" registration form in new tab or window</a>.
                </p>
                <iframe
                  id="JotFormIFrame-260496511063959"
                  title="Childcare Resource Fair registration form"
                  onload="window.parent.scrollTo(0,0)"
                  allowtransparency="true"
                  allow="geolocation; microphone; camera; fullscreen; payment"
                  src="https://form.jotform.com/260496511063959"
                  frameborder="0"
                  style="min-width:100%;max-width:100%;height:539px;border:none;"
                  scrolling="no"
                >
                </iframe>
                <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-260496511063959']", "https://form.jotform.com/")</script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        -->
        {% endcomment %}

        <div class="mb-5 editable">
          <h3 class="typography__h3">Career & Digital Skills Workshops</h3>
          <p>
            Enhance your job readiness and confidence by joining our May workshop series! These sessions are designed to guide you
            step-by-step through the job search process- from understanding workplace expectations to applying for jobs
            with&nbsp;confidence.
          </p>
          <p>
            <strong>Registration / Contact Information:</strong> register below, call <a href="tel:+18158028960">(815) 802-8960</a> or email <a href="mailto:workforceservices@kcc.edu">workforceservices@kcc.edu</a>
          </p>
          <p>
            <strong>Location:</strong> Kankakee Workforce Services, 450 N. Bradley Blvd, Bradley (across from Wendy's Restaurant)
          </p>
        </div>

        {% comment %}  
        <div data-tockify-component="calendar" data-tockify-search="WIOA" data-tockify-calendar="kankakeecc"></div>
        <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
        {% endcomment %}
        <!-- =================================================================
         ATTENTION:

            Jotform script for iframe embeds only needs to be added once!
            I.E. remove it from any jotform iframe embeds added to this page!
        ====================================================================== -->
        <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>

        <div class="editable">
          <h4 class="typography__h4">Workplace Basics: What Employers Expect</h4>
          <p>
            <strong>Date:</strong> Wednesday, May 6, 2026<br>
            <strong>Time:</strong> 11 a.m.-1 p.m.<br>
            <strong>Location:</strong> Kankakee Workforce Services, 450 N. Bradley Blvd, Bradley (across from Wendy's Restaurant)
          </p>
          <p>
            Learn the soft skills employers look for in the workplace. Through real-life scenarios and group discussion, explore
            topics such as communication, professionalism, reliability, and how to handle common workplace situations
            with&nbsp;confidence.
          </p>
        </div>
        <p class="mb-5">
          <!-- Job hunting modal button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#workplace-basics">
            Register for Workplace Basics: What Employers Expect
          </button>
        </p>
        <!-- Job hunting modal dialogue/window-->
        <div class="modal fade" id="workplace-basics" tabindex="-1" aria-labelledby="workplace-basics-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="workplace-basics-label">Register for Workplace Basics: What Employers Expect</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Modal content -->
                <p>
                  <a
                    href="https://form.jotform.com/261176069764971"
                    class="links__launch"
                    target="_blank"
                    rel="noopener"
                  >Open "Workplace Basics: What Employers Expect" registration form in new tab or window</a>.
                </p>
                <iframe
                  id="JotFormIFrame-261176069764971"
                  title="Workplace Basics: What Employers Expect registration form"
                  onload="window.parent.scrollTo(0,0)"
                  allowtransparency="true"
                  allow="geolocation; microphone; camera; fullscreen; payment"
                  src="https://form.jotform.com/261176069764971"
                  frameborder="0"
                  style="min-width:100%;max-width:100%;height:539px;border:none;"
                  scrolling="no"
                >
                </iframe>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-261176069764971']", "https://form.jotform.com/")</script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div class="editable">
          <h4 class="typography__h4">What Do I Say? Interview Practice Workshop</h4>
          <p>
            <strong>Date:</strong> Wednesday, May 13, 2026<br>
            <strong>Time:</strong> 11 a.m.-1 p.m.<br>
            <strong>Location:</strong> Kankakee Workforce Services, 450 N. Bradley Blvd, Bradley (across from Wendy's Restaurant)
          </p>
          <p>
            Build confidence in your interview skills by learning how to answer common questions and talk about your experience.
            Participants will practice responses in a supportive environment and gain tips for making a strong first&nbsp;impression.
          </p>
        </div>
        <p class="mb-5">
          <!-- Job hunting modal button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#interview-practice">
            Register for What Do I Say? Interview Practice Workshop
          </button>
        </p>
        <!-- Job hunting modal dialogue/window-->
        <div class="modal fade" id="interview-practice" tabindex="-1" aria-labelledby="interview-practice-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="interview-practice-label">Register for What Do I Say? Interview Practice Workshop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Modal content -->
                <p>
                  <a
                    href="https://form.jotform.com/261176425705962"
                    class="links__launch"
                    target="_blank"
                    rel="noopener"
                  >Open "What Do I Say? Interview Practice Workshop" registration form in new tab or window</a>.
                </p>
                <iframe
                  id="JotFormIFrame-261176425705962"
                  title="What Do I Say? Interview Practice Workshop registration form"
                  onload="window.parent.scrollTo(0,0)"
                  allowtransparency="true"
                  allow="geolocation; microphone; camera; fullscreen; payment"
                  src="https://form.jotform.com/261176425705962"
                  frameborder="0"
                  style="min-width:100%;max-width:100%;height:539px;border:none;"
                  scrolling="no"
                >
                </iframe>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-261176425705962']", "https://form.jotform.com/")</script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div class="editable">
          <h4 class="typography__h4">Create Your Resume</h4>
          <p>
            <strong>Date:</strong> Wednesday, May 20, 2026<br>
            <strong>Time:</strong> 11 a.m.-1 p.m.<br>
            <strong>Location:</strong> Kankakee Workforce Services, 450 N. Bradley Blvd, Bradley (across from Wendy's Restaurant)
          </p>
          <p>
            Create a simple, professional resume with step-by-step guidance. Learn how to highlight your skills and experience in a
            way that stands out to&nbsp;employers.
          </p>
        </div>
        <p class="mb-5">
          <!-- Job hunting modal button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-your-resume">
            Register for Create Your Resume
          </button>
        </p>
        <!-- Job hunting modal dialogue/window-->
        <div class="modal fade" id="create-your-resume" tabindex="-1" aria-labelledby="create-your-resume-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="create-your-resume-label">Register for Create Your Resume</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Modal content -->
                <p>
                  <a
                    href="https://form.jotform.com/261177188634970"
                    class="links__launch"
                    target="_blank"
                    rel="noopener"
                  >Open "Create Your Resume" registration form in new tab or window</a>.
                </p>
                <iframe
                  id="JotFormIFrame-261177188634970"
                  title="Create Your Resume registration form"
                  onload="window.parent.scrollTo(0,0)"
                  allowtransparency="true"
                  allow="geolocation; microphone; camera; fullscreen; payment"
                  src="https://form.jotform.com/261177188634970"
                  frameborder="0"
                  style="min-width:100%;max-width:100%;height:539px;border:none;"
                  scrolling="no"
                >
                </iframe>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-261177188634970']", "https://form.jotform.com/")</script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div class="editable">
          <h4 class="typography__h4">Apply to Jobs with Confidence</h4>
          <p>
            <strong>Date:</strong> Wednesday, May 27, 2026<br>
            <strong>Time:</strong> 11 a.m.-1 p.m.<br>
            <strong>Location:</strong> Kankakee Workforce Services, 450 N. Bradley Blvd, Bradley (across from Wendy's Restaurant)
          </p>
          <p>
            Put your skills into action by applying to real jobs with support. Learn how to complete online applications, upload
            your resume, and navigate job websites with&nbsp;confidence.
          </p>
        </div>
        <p class="mb-5">
          <!-- Apply to Jobs with Confidence modal button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#apply-with-confidence">
            Register for Apply to Jobs with Confidence
          </button>
        </p>
        <!-- Apply to Jobs with Confidence modal dialogue/window-->
        <div class="modal fade" id="apply-with-confidence" tabindex="-1" aria-labelledby="apply-with-confidence-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="apply-with-confidence-label">Register for Apply to Jobs with Confidence</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Modal content -->
                <p>
                  <a
                    href="https://form.jotform.com/261176280292962"
                    class="links__launch"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Open "Apply to Jobs with Confidence" registration form in new tab or window</a>.
                </p>
                <iframe
                  id="JotFormIFrame-261176280292962"
                  title="Apply to Jobs with Confidence registration form"
                  onload="window.parent.scrollTo(0,0)"
                  allowtransparency="true"
                  allow="geolocation; microphone; camera; fullscreen; payment"
                  src="https://form.jotform.com/261176280292962"
                  frameborder="0"
                  style="min-width:100%;max-width:100%;height:539px;border:none;"
                  scrolling="no"
                >
                </iframe>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-261176280292962']", "https://form.jotform.com/")</script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div class="editable">
          <h4 class="typography__h4">Career Pathways & Apprenticeship Opportunities</h4>
          <p>
            <strong>Date:</strong> Wednesday, April 29, 2026<br>
            <strong>Time:</strong> 11 a.m.-1 p.m.<br>
            <strong>Location:</strong> Kankakee Workforce Services, 450 N. Bradley Blvd, Bradley (across from Wendy's Restaurant)
          </p>
          <p>
            Explore training programs and career pathways that can lead to in-demand jobs in the skilled trades and beyond. Learn
            how Workforce Services may be able to support your next step through training, certification, or
            apprenticeship&nbsp;opportunities.
          </p>
        </div>
        <p class="mb-5">
          <!-- Modal button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#career-pathways">
            Register for Career Pathways & Apprenticeship Opportunities
          </button>
        </p>
        <!-- Start modal dialogue/window markup -->
        <div class="modal fade" id="career-pathways" tabindex="-1" aria-labelledby="career-pathways-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="career-pathways-label">Register for Career Pathways & Apprenticeship Opportunities</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Modal content -->
                <p>
                  <a
                    href="https://form.jotform.com/260845713488972"
                    class="links__launch"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Open "Career Pathways & Apprenticeship Opportunities" registration form in new window</a>.
                </p>
                <iframe
                  id="JotFormIFrame-260845713488972"
                  title="Career Pathways &amp; Apprenticeship Opportunities registration form"
                  onload="window.parent.scrollTo(0,0)"
                  allowtransparency="true"
                  allow="geolocation; microphone; camera; fullscreen; payment"
                  src="https://form.jotform.com/260845713488972"
                  frameborder="0"
                  style="min-width:100%;max-width:100%;height:539px;border:none;"
                  scrolling="no"
                >
                </iframe>
                <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-260845713488972']", "https://form.jotform.com/")</script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div><!-- End of modal dialogue/window-->


        {% comment %}
        <div class="editable">
          <h4 class="typography__h4">Resume Development</h4>
          <p class="mb-0"><strong>Dates:</strong></p>
          <ul class="mb-0">
            <li>Tuesday, February 24, 2026</li>
            <li>Wednesday, March 11, 2026</li>
          </ul>
          <p>
            <strong>Time:</strong> 11 a.m.-1 p.m.<br>
            <strong>Location:</strong> Kankakee Workforce Services, 450 N. Bradley Blvd, Bradley (across from Wendy's Restaurant)
          </p>
          <p>
            Learn how to create a clear, professional resume that highlights your skills, experience, and strengths. Participants
            will receive tips on formatting, wording, and tailoring resumes for different job&nbsp;opportunities.
          </p>
        </div>
        <p class="mb-5">
          <!-- Resume development modal button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#resume-development">
            Register for Resume Development
          </button>
        </p>
        <!-- Resume development modal dialogue/window-->
        <div class="modal fade" id="resume-development" tabindex="-1" aria-labelledby="resume-development-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="resume-development-label">Register for Resume Development</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Modal content -->
                <p>
                  <a
                    href="https://form.jotform.com/232574624722962"
                    class="links__launch"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Open "Resume Development" registration form in new tab or window</a>.
                </p>
                <iframe
                  id="JotFormIFrame-232574624722962"
                  title="Resume Development registration form"
                  onload="window.parent.scrollTo(0,0)"
                  allowtransparency="true"
                  allow="geolocation; microphone; camera; fullscreen"
                  src="https://form.jotform.com/232574624722962"
                  frameborder="0"
                  style="min-width:100%;max-width:100%;height:539px;border:none;"
                  scrolling="no"
                >
                </iframe>
                <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-232574624722962']", "https://form.jotform.com/")</script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endcomment %}


        {% comment %}
        <div class="editable">
          <h4 class="typography__h4">Writing an Impressive Cover Letter</h4>
          <p>
            <strong>Date:</strong> Wednesday, March 18, 2026<br>
            <strong>Time:</strong> 11 a.m.-1 p.m.<br>
            <strong>Location:</strong> Kankakee Workforce Services, 450 N. Bradley Blvd, Bradley (across from Wendy's Restaurant)
          </p>
          <p>
            Learn how to effectively introduce yourself to employers and bridge the gap between your resume and the job description.
            This workshop provides a simple, step-by-step framework for writing a personalized cover letter that highlights your
            unique&nbsp;value.
          </p>
        </div>
        <p class="mb-5">
          <!-- Modal button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cover-letter">
            Register for Writing an Impressive Cover Letter
          </button>
        </p>
        <!-- Start modal dialogue/window markup -->
        <div class="modal fade" id="cover-letter" tabindex="-1" aria-labelledby="cover-letter-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cover-letter-label">Register for Writing an Impressive Cover Letter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Modal content -->
                <p>
                  <a
                    href="https://form.jotform.com/260285591199973"
                    class="links__launch"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Open "Writing an Impressive Cover Letter" registration form in new tab or window</a>.
                </p>
                <iframe
                  id="JotFormIFrame-260285591199973"
                  title="Writing an Impressive Cover Letter registration form"
                  onload="window.parent.scrollTo(0,0)"
                  allowtransparency="true"
                  allow="geolocation; microphone; camera; fullscreen; payment"
                  src="https://form.jotform.com/260285591199973"
                  frameborder="0"
                  style="min-width:100%;max-width:100%;height:539px;border:none;"
                  scrolling="no"
                >
                </iframe>
                <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-260285591199973']", "https://form.jotform.com/")</script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div><!-- End of modal dialogue/window-->
        {% endcomment %}



        {% comment %}
        <!-- Do not delete commented-out events as they may happen again in the future.
             (These workshops don't happen as frequently) -->
        <div class="editable">
          <h4 class="typography__h4">How to Identify and Avoid Job Scams</h4>
          <p>
            <strong>Date:</strong> Tuesday, February 10, 2026<br>
            <strong>Time:</strong> 11 a.m.-1 p.m.<br>
            <strong>Location:</strong> Kankakee Workforce Services, 450 N. Bradley Blvd, Bradley (across from Wendy's Restaurant)
          </p>
          <p>
            Protect your personal information and your professional future by learning how to spot red flags in the modern job
            market. This session covers common tactics used in employment scams, from fraudulent job postings to suspicious
            onboarding requests. You will leave with a clear understanding of "stay safe" practices and the confidence to verify
            legitimate opportunities before you&nbsp;apply.
          </p>
        </div>
        <p class="mb-5">
          <!-- Modal button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#job-scams">
            Register for How to Identify and Avoid Job Scams
          </button>
        </p>
        <!-- Start modal dialogue/window markup -->
        <div class="modal fade" id="job-scams" tabindex="-1" aria-labelledby="job-scams-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="job-scams-label">Register for How to Identify and Avoid Job Scams</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Modal content -->
                <p>
                  <a
                    href="https://form.jotform.com/260284946487976"
                    class="links__launch"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Open "How to Identify and Avoid Job Scams" registration form in new tab or window</a>.
                </p>
                <iframe
                  id="JotFormIFrame-260284946487976"
                  title="How to Identify and Avoid Job Scams registration form"
                  onload="window.parent.scrollTo(0,0)"
                  allowtransparency="true"
                  allow="geolocation; microphone; camera; fullscreen; payment"
                  src="https://form.jotform.com/260284946487976"
                  frameborder="0"
                  style="min-width:100%;max-width:100%;height:539px;border:none;"
                  scrolling="no"
                >
                </iframe>
                <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-260284946487976']", "https://form.jotform.com/")</script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div><!-- End modal window markup -->
        {% endcomment %}


          {% comment %}
          <!-- Do not delete commented-out events as they may happen again in the future.
                       (These workshops don't happen as frequently) -->
        <div class="editable">
          <h4 class="typography__h4">Basics of Microsoft Word</h4>
          <p>
            Microsoft Word and Excel are two of the most frequently used multipurpose tools within today's
            office setting. This familiarization workshop will introduce you the basic functions of
            these&nbsp;platforms.
          </p>
        </div>
        <p class="mb-5">
          <!-- Interviewing for Success modal button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#word-workshop">
            Register for Basics of Microsoft Word
          </button>
        </p>
        <!-- Interviewing for Success modal dialogue/window-->
        <div class="modal fade" id="word-workshop" tabindex="-1" aria-labelledby="word-workshop-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="word-workshop-label">Register for Basics of Microsoft Word</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Modal content -->
                <p>
                  <a
                    href="https://form.jotform.com/252033980798972"
                    class="links__launch"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Open "Basics of Microsoft Word" registration form in new tab or window</a>.
                </p>
                <iframe
                  id="JotFormIFrame-252033980798972"
                  title="Basics of Microsoft Word registration form"
                  onload="window.parent.scrollTo(0,0)"
                  allowtransparency="true"
                  allow="geolocation; microphone; camera; fullscreen; payment"
                  src="https://form.jotform.com/252033980798972"
                  frameborder="0"
                  style="min-width:100%;max-width:100%;height:539px;border:none;"
                  scrolling="no"
                >
                </iframe>
                <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-252033980798972']", "https://form.jotform.com/")</script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endcomment %}



        {% comment %}
        <div class="editable">
          <h4 class="typography__h4">Basics of Microsoft Excel</h4>
          <p>
            Microsoft Word and Excel are two of the most frequently used multipurpose tools within today's
            office setting. This familiarization workshop will introduce you the basic functions of
            these&nbsp;platforms.
          </p>
        </div>
        <p class="mb-5">
          <!-- Interviewing for Success modal button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#excel-workshop">
            Register for Basics of Microsoft Excel
          </button>
        </p>
        <!-- Interviewing for Success modal dialogue/window-->
        <div class="modal fade" id="excel-workshop" tabindex="-1" aria-labelledby="excel-workshop-label" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="excel-workshop-label">Register for Basics of Microsoft Excel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Modal content -->
                <p>
                  <a
                    href="https://form.jotform.com/242264109431954"
                    class="links__launch"
                    target="_blank"
                    rel="noopener noreferrer"
                  >Open "Basics of Microsoft Excel" registration form in new tab or window</a>.
                </p>
                <iframe
                  id="JotFormIFrame-242264109431954"
                  title="Basics of Microsoft Excel registration form"
                  onload="window.parent.scrollTo(0,0)"
                  allowtransparency="true"
                  allow="geolocation; microphone; camera; fullscreen; payment"
                  src="https://form.jotform.com/242264109431954"
                  frameborder="0"
                  style="min-width:100%;max-width:100%;height:539px;border:none;"
                  scrolling="no"
                >
                </iframe>
                <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
                <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-242264109431954']", "https://form.jotform.com/")</script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
          {% endcomment %}

            
          <h4 class="typography__h4">Resume Software & Resume Review</h4>
          <p>
            Students and community members may obtain a free resume review by emailing their draft
            to <a href="mailto:careerservices@kcc.edu">careerservices@kcc.edu</a> to receive courtesy
            feedback on how to improve their draft. Please note, we do not develop a resume for you,
            you must submit a draft with all your information to be reviewed. If you need assistance
            in developing your resume, you are welcome to use the resource room located at Kankakee
            Workforce Services and use the available&nbsp;software.
          ​</p>


      </div>
    </div>
  </div>
</main>
{% include footer-disclaimer.html %}
