<!-- Typkit font for KCC logo-font -->
<link rel="stylesheet" href="https://use.typekit.net/mli7lsm.css">
<!-- Google fonts preconnect & stylesheet links -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@{% if page.url == '/' %}400;{% endif %}500{% if page.url == '/' %};600{% endif %}&family=Roboto:wght@400;500;700&family=Material+Icons&display=swap" rel="stylesheet">