<div class="col-12">
  <h4 class="typography__h4">Career Assessment</h4>
  <ul>
    <li>
      Skills Assessment - 
      <a href="https://www.careeronestop.org/Toolkit/Skills/skills-matcher.aspx" target="_blank" rel="noopener noreferrer">
        https://www.careeronestop.org/Toolkit/Skills/skills-matcher.aspx
      </a>
    </li>
    <li>
      Interest Assessment - 
      <a href="https://ilcis.intocareers.org/" target="_blank" rel="noopener noreferrer">
        https://ilcis.intocareers.org/
      </a>
    </li>
    <li>Financial Literacy Assessment - 
      <a href="https://ilcis.intocareers.org/" target="_blank" rel="noopener noreferrer">
        https://ilcis.intocareers.org/
      </a>
    </li>
    <li>
      Essential Employability Assessment - 
      <a href="www.illinoisworknet.com" target="_blank" rel="noopener noreferrer">
        www.illinoisworknet.com
      </a>
    </li>
  </ul>
  <h4 class="typography__h4">Career Research</h4>
  <ul>
    <li>WIOA Approved Training Providers - 
      <a href="https://www.illinoisworknet.com/wioatrainingsearch">https://www.illinoisworknet.com/wioatrainingsearch</a>
    </li>
  </ul>
  <h4 class="typography__h4">Financial Aid</h4>
  <ul>
    <li>
      Financial Aid (FAFSA) - 
      <a href="https://studentaid.gov/h/apply-for-aid/fafsa" target="_blank" rel="noopener noreferrer">
        https://studentaid.gov/h/apply-for-aid/fafsa
      </a>
    </li>
    <li>KCC Financial Aid page - 
      <a href="https://www.kcc.edu/financial-aid/">
        www.kcc.edu/financial-aid/
      </a>
    </li>
  </ul>
</div>