<section>
  <div class="container mt-3">
    <div class="row">
      {% if page.url == '/' %}
      <div class="col text-center">
        <img
          src="{{ page.baseurl }}assets/img/wioa-logo-placeholder.svg"
          data-src="{{ page.baseurl }}uploads/kankakee_workforce_services.png"
          height="338"
          width="726"
          class="img-fluid"
          alt="Kankakee Workforce Services - An Illinois workNet® Center. A proud partner of the AmericanJobCenter® network."
        >
      </div>
      {% endif %}
      <div class="col-12">
        {% if page.url != '/' %}<hr>{% endif %}
        <div class="mt-5">
          <p>
          This workforce product was funded by a grant awarded by the U.S. Department of Labor&apos;s Employment and Training
          Administration. The product was created by the recipient and does not necessarily reflect the official position of the
          U.S. Department of Labor. The Department of Labor makes no guarantees, warranties, or assurances of any kind, express or
          implied, with respect to such information, including any information on linked sites and including, but not limited to,
          accuracy of the information or its completeness, timeliness, usefulness, adequacy, continued availability, or ownership.
          This product is copyrighted by the institution that created it.
        </p>
        ​<p>
          Funding for the WIOA program is provided by the Grundy Livingston Kankakee Workforce Board. Equal opportunity
          employer/program. Auxiliary aids and services are available upon request to individuals with disabilities. All voice
          telephone numbers may be reached by persons using TTY/TDD equipment by calling TTY 800-526-0844 or 711.
        </p>
        {% if page.url == '/' %}
        <p>
          Local Equal Opportunity Officer: Kristin Bessette, <a href="tel:+18159350074">815-935-0074</a>.
        </p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
