<!-- Row 1 -->
<div class="row row-cols-1 row-cols-lg-5 mb-4 mb-xl-5">
  <div class="col text-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="mb-3" height="50" viewBox="0 0 24 24" width="50" fill="#555"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm.31-8.86c-1.77-.45-2.34-.94-2.34-1.67 0-.84.79-1.43 2.1-1.43 1.38 0 1.9.66 1.94 1.64h1.71c-.05-1.34-.87-2.57-2.49-2.97V5H10.9v1.69c-1.51.32-2.72 1.3-2.72 2.81 0 1.79 1.49 2.69 3.66 3.21 1.95.46 2.34 1.15 2.34 1.87 0 .53-.39 1.39-2.1 1.39-1.6 0-2.23-.72-2.32-1.64H8.04c.1 1.7 1.36 2.66 2.86 2.97V19h2.34v-1.67c1.52-.29 2.72-1.16 2.73-2.77-.01-2.2-1.9-2.96-3.66-3.42z"/></svg>
      <h5 class="typography__h5">Business and Finance</h5>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100257?parentId=110400"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/calculator.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Accounting / Bookkeeping</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100004?parentId=110400"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/teamwork.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Business Administration</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100501?parentId=110400"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/businessman.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Management and Supervision</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100146?parentId=111200"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/contract.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Paralegal</h6>
    </a>
  </div>
</div>
<!-- Row 2 -->
<div class="row row-cols-1 row-cols-lg-5">
  <div class="col text-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="mb-3" height="50" viewBox="0 0 24 24" width="50" fill="#555"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 18c1.1 0 1.99-.9 1.99-2L22 5c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v11c0 1.1.9 2 2 2H0c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2h-4zM4 5h16v11H4V5zm8 14c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"/></svg>
      <h5 class="typography__h5">Information Technology</h5>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100043?parentId=111100"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/systems-management.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Computer and Information Systems Manager</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100047?parentId=111100"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/code.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Computer Systems Analyst</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100046?parentId=111100"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/webinar.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Computer User Support Specialist</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100044?parentId=111100"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/software-developer.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Software Application Developer</h6>
    </a>
  </div>
</div>
<!-- Row 3 -->
<div class="row row-cols-1 row-cols-lg-5">
  <div class="col text-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg"  class="mb-3" height="50" viewBox="0 0 24 24" width="50" fill="#555"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 3H5c-1.1 0-1.99.9-1.99 2L3 19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zm-8.5-2h3v-3.5H17v-3h-3.5V7h-3v3.5H7v3h3.5z"/></svg>
      <h5 class="typography__h5">Health Sciences</h5>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100140?parentId=110800"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/cna.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Certified Nursing Assistant</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100117?parentId=110800"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/lpn.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Licensed Practical Nurse</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100410?parentId=110800"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/pta.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Physical Therapist Assistant</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100179?parentId=110800"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/rn.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Registered Nurse</h6>
    </a>
  </div>
</div>
<!-- Row 4 -->
<div class="row row-cols-1 row-cols-lg-5">
  <div class="col text-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="mb-3" enable-background="new 0 0 24 24" height="50" viewBox="0 0 24 24" width="50" fill="#555"><g><rect fill="none" height="24" width="24"/></g><g><path d="M19.93,8.35l-3.6,1.68L14,7.7V6.3l2.33-2.33l3.6,1.68c0.38,0.18,0.82,0.01,1-0.36c0.18-0.38,0.01-0.82-0.36-1l-3.92-1.83 c-0.38-0.18-0.83-0.1-1.13,0.2L13.78,4.4C13.6,4.16,13.32,4,13,4c-0.55,0-1,0.45-1,1v1H8.82C8.4,4.84,7.3,4,6,4C4.34,4,3,5.34,3,7 c0,1.1,0.6,2.05,1.48,2.58L7.08,18H6c-1.1,0-2,0.9-2,2v1h13v-1c0-1.1-0.9-2-2-2h-1.62L8.41,8.77C8.58,8.53,8.72,8.28,8.82,8H12v1 c0,0.55,0.45,1,1,1c0.32,0,0.6-0.16,0.78-0.4l1.74,1.74c0.3,0.3,0.75,0.38,1.13,0.2l3.92-1.83c0.38-0.18,0.54-0.62,0.36-1 C20.75,8.34,20.31,8.17,19.93,8.35z M6,8C5.45,8,5,7.55,5,7c0-0.55,0.45-1,1-1s1,0.45,1,1C7,7.55,6.55,8,6,8z M11.11,18H9.17 l-2.46-8h0.1L11.11,18z"/></g></svg>
      <h5 class="typography__h5">Manufacturing</h5>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100105?parentId=111500"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/engineer.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Industrial Engineer</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100343?parentId=111300"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/work.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Industrial Machinery Mechanic</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100123?parentId=111500"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/engineer-mechanical.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Mechanical Engineer</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100482?parentId=111300"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/welder.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Welder and Solderer</h6>
    </a>
  </div>
</div>
<!-- Row 5 -->
<div class="row row-cols-1 row-cols-lg-5">
  <div class="col text-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="mb-3" enable-background="new 0 0 24 24" height="50" viewBox="0 0 24 24" width="50" fill="#555"><g><rect fill="none" height="24" width="24"/></g><g><g><rect height="8.48" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -6.8717 17.6255)" width="3" x="16.34" y="12.87"/><path d="M17.5,10c1.93,0,3.5-1.57,3.5-3.5c0-0.58-0.16-1.12-0.41-1.6l-2.7,2.7L16.4,6.11l2.7-2.7C18.62,3.16,18.08,3,17.5,3 C15.57,3,14,4.57,14,6.5c0,0.41,0.08,0.8,0.21,1.16l-1.85,1.85l-1.78-1.78l0.71-0.71L9.88,5.61L12,3.49 c-1.17-1.17-3.07-1.17-4.24,0L4.22,7.03l1.41,1.41H2.81L2.1,9.15l3.54,3.54l0.71-0.71V9.15l1.41,1.41l0.71-0.71l1.78,1.78 l-7.41,7.41l2.12,2.12L16.34,9.79C16.7,9.92,17.09,10,17.5,10z"/></g></g></svg>
      <h5 class="typography__h5">Transportation, Logistics, and Trades</h5>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100251?parentId=111600&section=outlook&sectionTitle=Employment%20%26%20Outlook"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/auto-repair.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Automotive Mechanic</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100066?parentId=110200"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/electrician.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Electrician</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100340?parentId=110200"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/hvac.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">HVAC Technician</h6>
    </a>
  </div>
  <div class="col text-center mb-4">
    <a href="https://apps.illinoisworknet.com/cis/Clusters/OccupationDetails/100341?parentId=111600"
      class="links__no-underline"
      target="_blank" rel="noopener noreferrer">
      <img
        data-src="{{ page.baseurl }}uploads/truck.jpg"
        src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
        class="img-fluid mb-3"
        aria-hidden="true"
        alt="">
      <h6 class="typography__h6">Truck Driver (CDL)</h6>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <p>This list is not all encompassing. Additional in-demand occupations can be found at <a href="https://www.illinoisworknet.com/explore/Pages/DemandOccs.aspx" target="_blank" rel="noopener noreferrer">https://www.illinoisworknet.com/explore/Pages/DemandOccs.aspx</a></p>
  </div>
</div>