<div class="container mb-3">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-light bg-light sub-nav__navbar">
        <a class="navbar-brand" href="{{ page.baseurl }}job-board/">
          <h2 class="typography__sub-nav--red-h2 mb-0">Online Job Board</h2>
        </a>
        <ul id="subNavNav" class="nav ms-auto">
          <li class="nav-item js-sub-nav-item">
            <a href="{{ page.baseurl }}post-a-job-opening/" class="nav-link sub-nav__nav-link">Post a Job Opening</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
