<!-- preconnect to Google assets -->
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- GCS -->
    <link rel="preconnect" href="https://clients1.google.com">
    <link rel="preconnect" href="https://www.google.com">
    <!-- BS4 -->
    <link rel="preconnect" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js">
    <!-- Custom-->
    <link rel="preload" as="style" href="{{ page.baseurl }}assets/js/dist/kcc-theme.{% include hash/theme_hash.yml %}.css">
    <link rel="preload" as="script" href="{{ page.baseurl }}assets/js/dist/kcc-theme.{% include hash/theme_hash.yml %}.bundle.js">
    {%- if page.slides %}
    <!-- preload the first slide since it is visible on pageload -->
    <link rel="preload" as="image" href="{{ page.baseurl }}{{ page.slides[0].image }}">
    {%- endif %}
    <!-- End of preconnects -->
