<section>
  <div class="container">
    <div class="row">
      <div class="col margins__col--top section__heading-underline">
        <h3 class="typography__section--heading margins__heading--btm">{{ page.student_testimonials }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex flex-column">
          {% assign sorted_testimonials = site.testimonials | sort: 'order' %}
          {% for testimony in sorted_testimonials limit: 1 %}
          <div class="d-flex align-items-center justify-content-center">
            <img src="{{ testimony.portrait }}" class="testimonials__img--round" alt="Tim Boone">
            <div class="testimonials__max-width ml-3">
              <h3 class="typography__testimonials--quote">{{ testimony.quote }}</h3>
              <h3 class="testimonials__heading--overline testimonials__name--color typography__testimonials--name notranslate">&nbsp;-&nbsp;{{ testimony.name }}</h3>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
