---
layout: default-core
baseurl: ../../
title: One-Stop Employment and Training Services
description: ''
---

{% include nav-resources.html %}
<div class="container">
  <div class="row">
    <div class="col sub-nav__content--wrapper mt-2 editable">
      <h1 class="typography__h1">One stop employment and training services</h1>
      <p>
        There are 22 local partners in Illinois which drive this federally-funded network. Of the 22 partners, Kankakee
        Workforce Services is a three-county network of One-Stop Employment and Training Services, LWIOA 11. We provide
        resources to develop a skilled workforce to meet the needs of employers in today's changing and challenging economic
        environment.
      </p>
      <h2 class="typography__h2">Partners</h2>
      <p>
        Staff members of partner organizations that contribute to Kankakee Workforce Services 
        can visit <a href="../../partners/">Partner Referrals</a>.
        The <em>Partners Referrals</em> section of this website is meant for staff to 
        make referrals to one of our partner organizations.
      </p>
      <h2 class="typography__h2">2019</h2>
      <a href="{{ page.baseurl }}uploads/quarter-2_info-graphic_2019.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-primary mb-3">2nd Quarter 2019 Results</a>
      <a href="{{ page.baseurl }}uploads/quarter-1_info-graphic_2019.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-primary mb-3">1st Quarter 2019 Results</a>
      <h2 class="typography__h2">2018</h2>
      <a href="{{ page.baseurl }}uploads/quarter-4_info-graphic.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-primary mb-3">4th Quarter 2018 Results</a>
      <a href="{{ page.baseurl }}uploads/quarter-3_infographic_2018.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-primary mb-3">3rd Quarter 2018 Results</a>
      <a href="{{ page.baseurl }}uploads/quarter-2_results_2018.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-primary mb-3">2nd Quarter 2018 Results</a>
    </div>
  </div>
</div>
{% include footer-disclaimer.html %}
