---
layout: default
baseurl: ../../
title: KCC Continuing Education
description: ''
video_modal:
  title: "Continuing Education/One Stop/Perkins"
  video_sources: 'https://cdn.kcc.edu/wioa/continuinged_one-stop_perkins.mp4,https://cdn.kcc.edu/wioa/continuinged_one-stop_perkins.webm' ## Use comma's to separate multiple sources if needed
---

{% include nav-partners.html %}
<main class="container">
  <div class="row">
    <div class="col">
      <h2 class="typography__h2">{{ page.title }}</h2>
      <div class="text-center">
        <a href="https://continuinged.kcc.edu/"
         aria-label="Go to the KCC Continuing Education website">
          <img
          src="/partners/uploads/kcc-continuinged_wide.jpg"
          class="img-fluid"
          alt="KCC Continuing Education and Career Services">
        </a>
      </div>
      <!-- Start CloudCannon .editable div -->
      <div class="editable">
        <h3 class="typography__h3">About Continuing Education and Career Services</h3>
      </div><!-- End .editable div -->
      <p>View the 
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#videoModal">
          <em class="typography__emphasis">Continuing Education/One Stop/Perkins</em> video
        </button>.</p>
      <!-- Start CloudCannon .editable div -->
      {% include video-modal.html %}
      <div class="editable">
        <p>
          The KCC Office of Continuing Education and Career Services responds to the specialized training and staff development
          needs of business, industry, public service and governmental agencies as well as providing personal enrichment courses
          for the community.
        </p>
        <p>
          Among its services, the Office of Continuing Education and Career Services offers short-term and long-term employee
          development programs dealing with topics such as management techniques, organizational procedures, and skill
          enhancement.
        </p>
        <p><strong>Organization</strong> - KCC Continuing Education and Career Services<br>
          <strong>Primary Location</strong> - <a href="https://www.kcc.edu/about/#north-extension-center">KCC North Extension Center</a><br>
          <strong>Primary Phone</strong> - <a href="tel:+18158028206">815-802-8206</a> <br>
          <strong>Website</strong> - <a href="https://continuinged.kcc.edu">https://continuinged.kcc.edu</a>
        </p>
      </div><!-- End CloudCannon .editable div -->
    </div>
    <div class="col-12 mb-3">
      <iframe
      id="JotFormIFrame-220684467200048"
      title="One Stop Partner Referral Form"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allowfullscreen="true"
      allow="geolocation; microphone; camera"
      src="https://form.jotform.com/220684467200048?referringTo=KCC Continuing Education"
      frameborder="0"
      style="
      min-width: 100%;
      height:539px;
      border:none;"
      scrolling="no"
    >
    </iframe>
    <script type="text/javascript">
      var ifr = document.getElementById("JotFormIFrame-220684467200048");
      if (ifr) {
        var src = ifr.src;
        var iframeParams = [];
        if (window.location.href && window.location.href.indexOf("?") > -1) {
          iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
        }
        if (src && src.indexOf("?") > -1) {
          iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
          src = src.substr(0, src.indexOf("?"))
        }
        iframeParams.push("isIframeEmbed=1");
        ifr.src = src + "?" + iframeParams.join('&');
      }
      window.handleIFrameMessage = function(e) {
        if (typeof e.data === 'object') { return; }
        var args = e.data.split(":");
        if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[(args.length - 1)]); } else { iframe = document.getElementById("JotFormIFrame"); }
        if (!iframe) { return; }
        switch (args[0]) {
          case "scrollIntoView":
            iframe.scrollIntoView();
            break;
          case "setHeight":
            iframe.style.height = args[1] + "px";
            break;
          case "collapseErrorPage":
            if (iframe.clientHeight > window.innerHeight) {
              iframe.style.height = window.innerHeight + "px";
            }
            break;
          case "reloadPage":
            window.location.reload();
            break;
          case "loadScript":
            if( !window.isPermitted(e.origin, ['jotform.com', 'jotform.pro']) ) { break; }
            var src = args[1];
            if (args.length > 3) {
                src = args[1] + ':' + args[2];
            }
            var script = document.createElement('script');
            script.src = src;
            script.type = 'text/javascript';
            document.body.appendChild(script);
            break;
          case "exitFullscreen":
            if      (window.document.exitFullscreen)        window.document.exitFullscreen();
            else if (window.document.mozCancelFullScreen)   window.document.mozCancelFullScreen();
            else if (window.document.mozCancelFullscreen)   window.document.mozCancelFullScreen();
            else if (window.document.webkitExitFullscreen)  window.document.webkitExitFullscreen();
            else if (window.document.msExitFullscreen)      window.document.msExitFullscreen();
            break;
        }
        var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
        if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
          var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)};
          iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*");
        }
      };
      window.isPermitted = function(originUrl, whitelisted_domains) {
        var url = document.createElement('a');
        url.href = originUrl;
        var hostname = url.hostname;
        var result = false;
        if( typeof hostname !== 'undefined' ) {
          whitelisted_domains.forEach(function(element) {
              if( hostname.slice((-1 * element.length - 1)) === '.'.concat(element) ||  hostname === element ) {
                  result = true;
              }
          });
          return result;
        }
      };
      if (window.addEventListener) {
        window.addEventListener("message", handleIFrameMessage, false);
      } else if (window.attachEvent) {
        window.attachEvent("onmessage", handleIFrameMessage);
      }
      </script>
    </div>
  </div>
</main>
