---
layout: default
baseurl: ../../
title: Kankakee County Community Services Inc.
description: ''
video_modal:
  title: KCCSI informational video
  video_sources: "https://cdn.kcc.edu/wioa/kccsi-powerpoint_video.mp4,https://cdn.kcc.edu/wioa/kccsi-powerpoint_video.webm"
---

{% include nav-partners.html %}
<main class="container">
  <div class="row">
    <div class="col">
      <h2 class="typography__h2">{{ page.title }}</h2>
      <div class="text-center">
        <a href="https://kccsi-cap.org/"
         target="_blank"
         rel="noopener noreferrer"
         aria-label="Go to the Kankakee County Community Services Inc. website">
          <img
            src="/partners/uploads/kccsi_logo.png"
            class="img-fluid"
            alt="Kankakee County Community Services Inc. logo">  
        </a>
      </div>
      <div class="editable">
        <h3 class="typography__h3">Program Overview</h3>
        <p>
          Kankakee County Community Services, Inc. (KCCSI) is a nonprofit Community Action Agency incorporated in 1986 through the
          Economic Opportunity Act of 1964 to fight the war against poverty locally.
        </p>
        <p>
          KCCSI currently employs nearly 25 people serving more than 5000 residents in Kankakee County annually with over 15
          programs designed to alleviate hunger and homelessness, prepare individuals for the workforce, improve health outcomes,
          lower energy costs, strengthen families and mitigate crisis.
        </p>
        <p>
          View the <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#videoModal">
            KCCSI informational video
          </button>
        </p>
      </div>
    </div>
    <div class="col-12 mb-3">
      <iframe
      id="JotFormIFrame-220684467200048"
      title="One Stop Partner Referral Form"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allowfullscreen="true"
      allow="geolocation; microphone; camera"
      src="https://form.jotform.com/220684467200048?referringTo=KCCSI%20-%20Kankakee%20County%20Community%20Services%20Inc."
      frameborder="0"
      style="
      min-width: 100%;
      height:539px;
      border:none;"
      scrolling="no"
    >
    </iframe>
    <script type="text/javascript">
      var ifr = document.getElementById("JotFormIFrame-220684467200048");
      if (ifr) {
        var src = ifr.src;
        var iframeParams = [];
        if (window.location.href && window.location.href.indexOf("?") > -1) {
          iframeParams = iframeParams.concat(window.location.href.substr(window.location.href.indexOf("?") + 1).split('&'));
        }
        if (src && src.indexOf("?") > -1) {
          iframeParams = iframeParams.concat(src.substr(src.indexOf("?") + 1).split("&"));
          src = src.substr(0, src.indexOf("?"))
        }
        iframeParams.push("isIframeEmbed=1");
        ifr.src = src + "?" + iframeParams.join('&');
      }
      window.handleIFrameMessage = function(e) {
        if (typeof e.data === 'object') { return; }
        var args = e.data.split(":");
        if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[(args.length - 1)]); } else { iframe = document.getElementById("JotFormIFrame"); }
        if (!iframe) { return; }
        switch (args[0]) {
          case "scrollIntoView":
            iframe.scrollIntoView();
            break;
          case "setHeight":
            iframe.style.height = args[1] + "px";
            break;
          case "collapseErrorPage":
            if (iframe.clientHeight > window.innerHeight) {
              iframe.style.height = window.innerHeight + "px";
            }
            break;
          case "reloadPage":
            window.location.reload();
            break;
          case "loadScript":
            if( !window.isPermitted(e.origin, ['jotform.com', 'jotform.pro']) ) { break; }
            var src = args[1];
            if (args.length > 3) {
                src = args[1] + ':' + args[2];
            }
            var script = document.createElement('script');
            script.src = src;
            script.type = 'text/javascript';
            document.body.appendChild(script);
            break;
          case "exitFullscreen":
            if      (window.document.exitFullscreen)        window.document.exitFullscreen();
            else if (window.document.mozCancelFullScreen)   window.document.mozCancelFullScreen();
            else if (window.document.mozCancelFullscreen)   window.document.mozCancelFullScreen();
            else if (window.document.webkitExitFullscreen)  window.document.webkitExitFullscreen();
            else if (window.document.msExitFullscreen)      window.document.msExitFullscreen();
            break;
        }
        var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
        if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
          var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)};
          iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*");
        }
      };
      window.isPermitted = function(originUrl, whitelisted_domains) {
        var url = document.createElement('a');
        url.href = originUrl;
        var hostname = url.hostname;
        var result = false;
        if( typeof hostname !== 'undefined' ) {
          whitelisted_domains.forEach(function(element) {
              if( hostname.slice((-1 * element.length - 1)) === '.'.concat(element) ||  hostname === element ) {
                  result = true;
              }
          });
          return result;
        }
      };
      if (window.addEventListener) {
        window.addEventListener("message", handleIFrameMessage, false);
      } else if (window.attachEvent) {
        window.attachEvent("onmessage", handleIFrameMessage);
      }
      </script>
    </div>
  </div>
</main>
{% include video-modal.html %}
